## Work in Progress: {{.Repository}}

| | # | Title | Status | {{.SortHeader}} | Last Activity |
| :---: | ---: | --- | --- | --- | --- |
{{- range .Items}}
| {{.Flag}} | {{.Link}} | {{.Title}} | {{.Status}} | {{.Age}} | {{.LastActivity}} |
{{- end}}

**Count:** {{.Count}}
